* {
  padding: 0;
  margin: 0;
}

.nav-container {
  position: sticky;
  top: 0;
  background: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 27px;
}

#logo {
  height: 81px;
}

.button {
  height: 35px;
  width: 144px;
  padding: 4px 12px 8px;
  background-color: rgb(86, 123, 149);
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.button-one {
  height: 35px;
  width: 74px;
  padding: 4px 12px 8px;
  background-color: rgb(86, 123, 149);
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

#bar {
  padding-left: 25px;
}

#txt {
  padding-left: 25px;
  font-weight: bold;
}

.heading {
  color: #121212;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-style: italic;
  font-size: 40px;
  position: relative;
  left: 0;
  text-align: center;
}

.Smoking-Gun-heading {
  display: block;
  margin-right: 319px;
}

.main-figure {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
}

.main-image-container {
  justify-content: center;
}

.main-image {
  width: 72%;
  height: 92%;
  margin: 25px auto 5px 231px;
}

.main-image-caption {
  color: #666;
  margin: 0 140px 0 231px;
}

.about-main-author {
  display: flex;
  justify-content: space-around;
  margin-left: 158px;
}

.about-main-author ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

#dates {
  padding-top: 29px;
  margin-left: -448px;
}

.social {
  padding: 25px 40px 0 0;
}

.social :hover {
  background-color: silver;
  cursor: pointer;
}

.article {
  padding: 37px 1px 8px 0px;
  margin-left: 447px;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.subscription {
  color: rgb(50, 104, 145);
  font-weight: bold;
  text-align: center;
}

.text {
  margin-left: 596px;
}

.inflation p {
  width: 211px;
  font-family: nyt-franklin,arial,helvetica,sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.inflation > span {
  display: block;
  margin-top: 25px;
  margin-left: 227px;
}

.sub-text {
  margin: 20px 0 15px 384px;
  color: #666;
}

#sub {
  margin: 20px 0 0 0;
  color: #666;
}

.img-txt {
  position: absolute;
  top: 18.0556%;
  left: 0.2544%;
  width: 173px;
}

.img {
  height: 50%;
  width: 80%;
}

h1 {
  margin-bottom: 2px;
  line-height: 1.5rem;
  font-weight: 700;
  font-style: normal;
  font-family: nyt-cheltenham,georgia,times new roman,times,serif;
  font-size: 1.25rem;
  font-weight: bold;
  color: black;
}

.univ-text {
  position: relative;
  font-size: smaller;
  font-size: 14px;
  font-family: nyt-cheltenham,georgia,times new roman,times,serif;
}

.title {
  font-size: smaller;
  font-weight: bold;
}

.inflation-section {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 padding-left: 17%;
 padding-right: 17%;
}


.read-comments-button {
  height: 35px;
  width: 320px;
  padding: 4px 12px 8px;
  background-color: rgb(86, 123, 149);
  color: white;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 29px;
}

#vedio {
  margin: 27px 0 0 441px;
}

#comment {
  color: #666;
}

.comment {
  color: #666;
  margin: 27px 0 0 441px;
}

.img-sky {
  height: 376px;
  margin: 36px 0 0 441px;
}

.article-one {
  color: #666;
  font-size: 0.9rem;
  line-height: 1rem;
  
}

i.fa {
  display: inline-block;
  border-radius: 60px;
  padding: 0.5em 0.6em;
}

.caption {
  color: #666;
}

.more-articles-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.one {
  color: black;
  margin: 35px 395px 3px 35px;
  font-weight: bold;
}

#two {
  color: black;
  margin: -5px 39px 7px 1007px;
  font-weight: bold;
  position: relative;
}

.margin-txt {
  margin-left: 50px;
  font-size: medium;
}

.grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  list-style: none;
  margin-left: 50px;
  grid-template-areas: "box content";
}

.rec {
  grid-area: box;
}

.text-rec {
  grid-area: content;
}

.grid li {
  padding-left: 25px;
}

.img-grid {
  height: 190px;
}

.rec-grid {
  grid-template-columns: 300px 300px 300px;
  display: grid;
  list-style: none;
  margin: 50px 0 0 50px;
}

.left-content {
  width: 26%;
  padding-left: 0.5rem;
  position: relative;
  font-weight: bold;
  line-height: 25px;
  word-wrap: break-word;
  top: -909px;
  font-size: large;
  float: right;
}

.left-txt {
  position: relative;
  font-weight: bold;
  line-height: 0;
  word-wrap: break-word;
  top: -933px;
  font-size: medium;
  float: right;
  left: -260px;
}

.footer-grid-item {
  position: relative;
  text-align: left;
}
.footer-ul a{
  color:black;
  text-decoration: none;
  cursor: pointer;
} 
.footer-ul {
  list-style: none;
  align-items: center;
  padding: 10px 20px 0px 20px;
 
}

.footer-ul span {
  display: block;
  font-size: 0.83em;
  margin-bottom: 0.67em;
  font-weight: bold;
}

.first-footer {
  display: flex;
  margin: 98px 0 0px 186px;
  padding-right: 61px;
  line-height: 2;
}
.second-footer {
  width: 100%;
  margin-bottom: 50px;
}
.link{
 color: black;
}
.second-footer ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: smaller;
  position: relative;
  top: 25px;
  left: 170px;
  color: silver;
}

.second-footer a{
  color: black;
  text-decoration: none;
}

html{
  height: -webkit-fill-available;
}
.footer-text{
  padding-left: 20px;
}

.space{
  padding-left: 40px;
}
